<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"
        href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" />
    <title>Registro Producto</title>
</head>

<body>
    <header>

    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-ms-6 container justify-contten-center card">
                    <form th:action="@{/api/registro/producto/post}" method="post" th:object="${productoDTOPlantilla}">
                        <div class="input-group mb-3">
                            <div class="form-floating mb-3 input-group-text">
                                <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}">
                                <label for="nombre" class="form-label">Nombre Del Producto</label>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="form-floating mb-3 input-group-text">
                                <input type="number" class="form-control" id="precio" name="precio" th:field="*{precio}">
                                <label for="precio" class="form-label">Precio</label>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small>
                            </div>
                            <div class="form-floating mb-3 input-group-text">
                                <input type="number" class="form-control" id="stock" name="stock" th:filed="*{stock}">
                                <label for="stock" class="form-label">Stock</label>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></small>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="form-floating mb-3 input-group-text">
                                <textarea class="form-control" id="descripcion" name="descripcion" th:field="*{descripcion}"
                                    style="height: 100px"></textarea>
                                <label for="descripcion" class="form-label">Descripcion</label>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="form-floating mb-3 input-group-text">
                                <select class="form-select" id="estado" name="estado" th:field="*{estado}">
                                    <option value="" selected disabled>Seleccione un estado</option>
                                    <option th:each="estado : ${estados}" th:value="${estado.id}" th:text="${estado.estado}"></option>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></small>
                                </select>
                                <label for="estado" class="form-label">Estado</label>
                            </div>

                            <div class="form-floating mb-3 input-group-text">
                                <select class="form-select" id="categoria" name="categoria" th:field="*{categoria}">
                                    <option value="" selected disabled>Seleccione una categoría</option>
                                    <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
                                </select>
                                <label for="categoria" class="form-label">Categoria</label>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></small>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>

    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"
        src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>

    <script type="text/javascript"></script>
</body>

</html>