<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"
        href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" />
    <title>Registro Producto</title>
</head>

<body>
    <header>

    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-ms-6 container justify-contten-center card">
                <form action="#" method="post" class="needs-validation" novalidate>
                    <div class="input-group mb-3">
                        <div class="form-floating mb-3 input-group-text">
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                   placeholder="Tenis Nike Freak 4" required>
                            <label for="nombre" class="form-label">Nombre Del Producto</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-floating mb-3 input-group-text">
                            <input type="number" class="form-control" id="precio" name="precio" placeholder="250000">
                            <label for="precio" class="form-label">Precio</label>
                        </div>
                        <div class="form-floating mb-3 input-group-text">
                            <input type="number" class="form-control" id="stock" name="stock" placeholder="20">
                            <label for="stock" class="form-label">Stock</label>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-floating mb-3 input-group-text">
                            <textarea class="form-control" id="descripcion" name="descripcion" placeholder="250000" style="height: 100px"></textarea>
                            <label for="descripcion" class="form-label">Descripcion</label>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-floating mb-3 input-group-text">
                            <select class="form-select" id="estado" name="estado">
                                <option selected>Abra para seleccionar estado</option>
                                <option value="1">SIN STOCK</option>
                                <option value="2">PAUSADO</option>
                                <option value="2">ACTIVO</option>
                              </select>
                            <label for="estado" class="form-label">Estado</label>
                        </div>

                        <div class="form-floating mb-3 input-group-text">
                            <select class="form-select" id="categoria" name="categoria">
                                <option selected>Abra para seleccionar categoria</option>
                                <option value="1">Zapatos</option>
                                <option value="2">Camisa</option>
                                <option value="2">Pantalon</option>
                            </select>
                            <label for="categoria" class="form-label">Categoria</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>

    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"
        src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" ></script> 
</body>

</html>